@import 'tailwindcss';

@plugin 'flowbite/plugin';

@theme inline {
	--color-primary: var(--color-cyan-50);
	--color-secondary: var(--color-gray-800);
	--color-accent: var(--color-sky-300);
	--color-accent2: var(--color-indigo-300);
	/* --color-important: var(--color-amber-500); */
	--color-important: var(--color-orange-300);
}

@theme {
	--font-blocky: 'Press Start 2P', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'sans-serif';
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

h1 {
	@apply md:text-4xl text-2xl text-center mb-3 font-bold font-blocky;
}

h2 {
	@apply md:text-3xl text-2xl text-center mb-3 font-bold;
}

h3 {
	@apply md:text-2xl text-xl text-center mb-3 font-bold;
}

h4 {
	@apply md:text-xl text-lg text-left font-bold;
}

ol {
	@apply pl-5;
}

li {
	@apply mb-4 text-justify leading-6;
}

section {
	@apply m-auto w-full text-xl mb-12;
}

p {
	@apply mb-4 text-xl text-justify md:text-2xl;
}